.footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
    width: 100%;
    height: 60px;
    background: linear-gradient(to left, #000 30%, var(--footer-bg-color));

    @media (min-width: 700px) {
        justify-content: flex-end;
    }
}

.icon-row-footer {
    display: flex;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 0.3rem;
    
    img {
        width: 100%;
    }
}
