.item-collection {
    display: flex;
    justify-content: center;
    text-align: center;

    @media (min-width: 700px) {
        transform: translateX(-20%);
        width: 160%;
    }
}

.item-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-case {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: 700px) {
        min-width: 700px;
        max-width: 1000px;
    }

    img {
        width: 100%;
    }
    
    .item-info {
        align-self: center;
        width: calc(40% + 100px);
        max-width: 350px;
        padding: 1em;
        background-color: rgba(0,0,0, 0.6);
        color: $color-light;

        p {
            text-align: left;
            text-indent: 8%;
        }
    }
    
    .screenshot-case {
        width: calc(60% - 100px);
        min-width: 250px;
        max-width: 300px;
        padding: 1rem;
    }

    .screenshot-element {
        margin: 0.5rem;
    }
}
