.main-element {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: background-color 2s;
    width: 100%;
    height: var(--main-element-height);
    background-color: var(--main-bg-color);
}

.main-overlay {
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;

    .main-overlay-content {
        .white-line {
            display: block;
            transition: width 0.5s;
            width: 10%;
            height: 15px;
            background-color: $color-light;
        }
    }

    &.active {
        position: absolute;
        opacity: 1;
        width: 100%;
        height: 100%;
        color: $color-light;
        font-size: 3rem;
        text-transform: uppercase;
        background-color: $text-box-bg-dark;

        .main-overlay-content {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .white-line {
                width: 40%;
            }
        }
    }
}
