.main-element {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: background-color 2s;
    width: 100%;
    height: var(--main-element-height);
    background-color: var(--main-bg-color);
}
