.main-element {
    height: var(--main-element-height);
    background-color: var(--main-bg-color);
    transition: background-color 2s;
    overflow: hidden;
    width: 100%;
}

.item-collection {
    display: flex;
    justify-content: center;
    width: 160%;
    text-align: center;
    transform: translateX(-20%);
}

.item-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-case {
    max-width: 800px;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    img {
        width: 100%;
    }
    
    .info {
        color: white;
        width: calc(40% + 100px);
        max-width: 350px;
        padding: 1em;
        align-self: center;
        background-color: rgba(0,0,0, 0.6);
    }
    
    .screenshot-case {
        width: calc(60% - 100px);
        min-width: 250px;
        max-width: 300px;
        padding: 1rem;
    }

    .screenshot-element {
        margin: 0.5rem;
    }
}
