.d-none {
    display: none;
}

.d-md-none {
    @media (min-width: $sm) {
        display: none;
    }
}

.d-md-block {
    @media (min-width: $sm) {
        display: block;
    }
}

.opacity-0 {
    opacity: 0;

    &:hover {
        opacity: 0;
    }
}

.opacity-1 {
    opacity: 1;

    &:hover {
        opacity: 1;
    }
}

.text-center {
    text-align: center;
}

.to-the {
    position: relative;
    transition: transform 2s;
}

.to-the-right {
    transform: translateX(1500px);
}

.to-the-right {
    transform: translateX(-1500px);
}

.flash {
    background-color: rgba(255,255,255,0.9);
}
