:root {
    --main-element-height: 100%;
    --img-opacity: 1;

    --main-bg-color: #fff;
    --header-bg-color: #000;
    --header-color: #fff;
    --footer-bg-color: #000;
    --footer-color: #fff;

    --active-btn-color: #fff;
    --active-btn-bg-color: #000;
    --active-btn-border: 1px solid #000;
}
