$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;

$btn-primary-color: #fff;
$btn-primary-bg-color: #000;

$footer-bg-color: #000;
$nav-bg-color: #000;

$color-dark: #000;
$color-light: #fff;
$text-box-bg-dark: rgba(255,255,255,0.7);
